<h1>Sign In</h1>
<p>Find me in app/views/sessions/new.html.erb</p>

<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field" >
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>
  
  <div class="actions" >
    <%= f.submit "Sign In" %>
  </div>
<% end %>